@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-jakarta-sans: var(--font-jakarta-sans);
  --font-uncut-sans: var(--font-uncut-sans);
  --font-inter: var(--font-inter);

  --font-inter--font-feature-settings:
    "zero", "cv01", "cv03", "cv04", "cv05", "cv09", "cv10";

  --color-primary: oklch(0.21 0.034 264.665);
  --color-secondary-200: oklch(0.929 0.013 255.508);
  --color-secondary-400: oklch(0.704 0.04 256.788);
  --color-accent: oklch(0.855 0.138 181.071);
  --color-surface: oklch(24.89% 0.0409 263.42);

  --text-xs: 0.812rem;
  --text-xs--line-height: 1.68;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.68;
  --text-base: 1rem;
  --text-base--line-height: 1.68;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.4;
  --text-2xl: 1.438rem;
  --text-2xl--line-height: 1.4;
  --text-3xl: 1.625rem;
  --text-3xl--line-height: 1.4;
  --text-4xl: 1.812rem;
  --text-4xl--line-height: 1.38;
  --text-5xl: 2rem;
  --text-5xl--line-height: 1.2;
  --text-6xl: 2.25rem;
  --text-6xl--line-height: 1.2;
  --text-7xl: 2.875rem;
  --text-7xl--line-height: 1.2;
  --text-8xl: 3.25rem;
  --text-8xl--line-height: 1.2;
  --text-9xl: 3.625rem;
  --text-9xl--line-height: 1.2;
  --text-10xl: 4.125rem;
  --text-10xl--line-height: 1.2;
  --text-11xl: 4.625rem;
  --text-11xl--line-height: 1.15;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  h1 {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl--line-height);

    @media (width >= 48rem) {
      font-size: var(--text-6xl);
      line-height: var(--text-6xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-7xl);
      line-height: var(--text-7xl--line-height);
    }
  }
  h2 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);

    @media (width >= 48rem) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-6xl);
      line-height: var(--text-6xl--line-height);
    }
  }
  h3 {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);

    @media (width >= 48rem) {
      font-size: var(--text-4xl);
      line-height: var(--text-4xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }
  }
  h4 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);

    @media (width >= 48rem) {
      font-size: var(--text-3xl);
      line-height: var(--text-3xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-4xl);
      line-height: var(--text-4xl--line-height);
    }
  }
  h5 {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);

    @media (width >= 48rem) {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-3xl);
      line-height: var(--text-3xl--line-height);
    }
  }
  h6 {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);

    @media (width >= 48rem) {
      font-size: var(--text-xl);
      line-height: var(--text-xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }
  }
  p {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }
  /* pre.shiki {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 20px 0;
    background: transparent;
    overflow-x: auto;
  }
  pre {
    border-radius: 4px;
    & code {
      display: block;
      padding: 0 24px;
      width: fit-content;
      min-width: 100%;
      position: relative;
      transition: color 0.5s;
      & .diff {
        margin: 0 -24px;
        padding: 0 24px;
        width: calc(100% + 48px);
        display: inline-block;
        &::before {
          position: absolute;
          left: 10px;
        }
        &.remove {
          background-color: hsla(0, 100%, 50%, 0.2);
          &:before {
            content: "-";
          }
        }
        &.add {
          background-color: hsla(120, 100%, 50%, 0.2);
          &:before {
            content: "+";
          }
        }
      }
    }
  } */

  span > code > button {
    display: none;
    width: 0;
    height: 0;
  }

  #_top {
    font-weight: 900;
    @apply text-[rgb(38,38,43)] dark:text-[rgb(255_245_224)];
  }

  a > code {
    text-decoration: none !important;
    text-decoration-style: unset !important;
    text-decoration-color: unset !important;
    text-decoration-thickness: unset !important;
  }

  h3 code {
    @apply !text-lg md:!text-xl;
  }

  pre {
    @apply rounded-lg !px-0;
  }

  code {
    @apply text-sm !leading-loose md:text-base;
  }

  pre > code {
    /* 
   * Starlight unsets some styles so important is needed here.
   * https://github.com/withastro/starlight/blob/main/packages/starlight/style/markdown.css#L94
   */
    counter-reset: line !important;
    overflow-x: auto !important;
  }

  figcaption {
    /* https://github.com/withastro/starlight/blob/main/packages/starlight/style/markdown.css#L4  */
    margin-bottom: -1rem;
  }

  /* code[data-theme*=" "],
  code[data-theme*=" "] span {
    color: var(--shiki-light);
    background-color: var(--shiki-light-bg);
  }

  @media (prefers-color-scheme: dark) {
    code[data-theme*=" "],
    code[data-theme*=" "] span {
      color: var(--shiki-dark);
      background-color: var(--shiki-dark-bg);
    }
  } */

  code[data-line-numbers] {
    counter-reset: line;
  }

  code[data-line-numbers] > [data-line]::before {
    counter-increment: line;
    content: counter(line);
    @apply mr-4 inline-block w-4 pr-6 text-right text-gray-500;
  }

  pre [data-line] {
    @apply px-8;
  }

  [data-highlighted-line] {
    /* background-color: hsla(222, 47%, 11%, 0.5); */
    /* 222°, 47%, 11% */
    background-color: hsla(220, 39%, 25%, 1);
    /* border-left: 2px solid white; */
    @apply border-accent border-l-4;
  }

  [data-highlighted-chars] {
    @apply rounded bg-zinc-600/50;
    box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
  }

  [data-chars-id] {
    @apply border-b-2 p-1 shadow-none;
  }

  [data-chars-id] span {
    @apply !text-inherit;
  }

  [data-chars-id="v"] {
    @apply border-b-pink-600 bg-rose-800/50 font-bold !text-pink-300;
  }

  [data-chars-id="s"] {
    @apply border-b-yellow-600 bg-yellow-800/50 font-bold !text-yellow-300;
  }

  [data-chars-id="i"] {
    @apply border-b-purple-600 bg-purple-800/50 font-bold !text-purple-200;
  }

  [data-rehype-pretty-code-title] {
    @apply rounded-t-lg bg-zinc-700 px-3 py-2 text-sm font-semibold text-zinc-200;
  }

  figure[data-rehype-pretty-code-figure]:has(> [data-rehype-pretty-code-title])
    pre {
    @apply !rounded-t-none;
  }

  figure {
    @apply mt-1 mb-6;
  }

  pre,
  code,
  figure {
    @apply overflow-x-auto;
  }

  .diff {
    position: relative;
    &.add {
      background-color: hsla(120, 100%, 50%, 0.2);
      &:before {
        content: "+";
        position: absolute;
        top: 0;
        left: 12px;
      }
    }
    &.remove {
      background-color: hsla(0, 100%, 50%, 0.2);
      &::before {
        content: "-";
        position: absolute;
        top: 0;
        left: 12px;
      }
    }
  }

  span [data-line] {
    @apply rounded bg-zinc-600/50 p-1;
  }
}

@layer components {
  .article-h2 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    margin-top: 1.5em;
    margin-bottom: 0.6em;

    @media (width >= 48rem) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-6xl);
      line-height: var(--text-6xl--line-height);
    }
  }
  .article-h2 + * {
    margin-top: 0;
  }
  .article-h3 {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    margin-top: 1em;
    margin-bottom: 0.6em;

    @media (width >= 48rem) {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-3xl);
      line-height: var(--text-3xl--line-height);
    }
  }
  .article-h3 + * {
    margin-top: 0;
  }
}
