---
import { getMovies } from "../../../lib/tmdb";
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

const moviePosts = (await getCollection("movies")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const imdbIds = moviePosts.map((post) => post.data.imdbId);
const allMovieData = await getMovies(imdbIds);
---

<BaseLayout pageTitle="Movies">
  <h1>Movies</h1>
  <ul>
    {
      allMovieData.map((movie) => (
        <li>
          <a href={`/movie/${movie.id}`}>
            {movie.title}{" "}
            <time datetime={new Date(movie.releaseDate).toLocaleDateString()}>
              ({new Date(movie.releaseDate).getFullYear()})
            </time>
          </a>
          <time datetime={movie.pubDate?.toLocaleDateString()}>
            {movie.pubDate?.toLocaleDateString("en-US", {
              day: "numeric",
              month: "long",
              year: "numeric",
            })}
          </time>
          <p>{movie.genres.map(String).join(", ")}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>
