@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "./tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));

/* Add font here */
/* Inter */
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-ExtraBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
/* Maple Mono */
@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-ExtraBoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Maple Mono";
  src: url("/fonts/MapleMono-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
/* Vend Sans */
@font-face {
  font-family: "Vend Sans";
  src: url("/fonts/VendSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src: url("/fonts/VendSans-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src: url("/fonts/VendSans-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src: url("/fonts/VendSans-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src: url("/fonts/VendSans-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src: url("/fonts/VendSans-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src: url("/fonts/VendSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src: url("/fonts/VendSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src: url("/fonts/VendSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src: url("/fonts/VendSans-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-vend-sans: "Vend Sans", "sans-serif";
  --font-inter: "Inter", "sanss-serif";
  --font-maple-mono: "Maple Mono", monospace;
  --spacing-scale: 4px;
}

@theme {
  --color-primary: var(--color-blue-700);
  --color-neutral: var(--color-gray-50);
  --color-secondary-default: var(--color-gray-600);
  --color-secondary-emphasize: var(--color-gray-950);
  --color-tertiary-default: var(--color-gray-200);
  --color-tertiary-emphasize: var(--color-gray-400);

  --text-sm: 14px;
  --text-4xl: 29px;
  --text-5xl: 33px;

  --leading-dense: 1.2;
  --leading-relaxed: 1.6;

  --spacing-05: calc(var(--spacing-scale) * 0.5);
  --spacing-2: calc(var(--spacing-scale) * 2);
  --spacing-4: calc(var(--spacing-scale) * 4);
  --spacing-5: calc(var(--spacing-scale) * 5);
  --spacing-8: calc(var(--spacing-scale) * 8);
  --spacing-16: calc(var(--spacing-scale) * 16);
}

@layer base {
  .dark {
    --color-primary: var(--color-blue-400);
    --color-neutral: var(--color-gray-900);
    --color-secondary-default: var(--color-gray-400);
    --color-secondary-emphasize: var(--color-gray-50);
    --color-tertiary-default: var(--color-gray-700);
    --color-tertiary-emphasize: var(--color-gray-500);
  }

  @media (prefers-color-scheme: dark) {
    html.dark .astro-code,
    html.dark .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      /* Optional, if you also want font styles */
      /* font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important; */
    }
  }

  html {
    scroll-behavior: smooth;
  }

  p {
    font-size: var(--text-base);
    font-family: var(--font-inter);
    line-height: calc(var(--text-base) * var(--leading-relaxed));
    color: var(--color-secondary-default);
  }
  h1 {
    font-size: var(--text-5xl);
    font-family: var(--font-vend-sans);
    line-height: calc(var(--text-5xl) * var(--leading-dense));
    font-weight: bold;
    color: var(--color-secondary-emphasize);
  }
  h2 {
    font-size: var(--text-4xl);
    font-family: var(--font-vend-sans);
    line-height: calc(var(--text-4xl) * var(--leading-dense));
    font-weight: bold;
    color: var(--color-secondary-emphasize);
  }
  h3 {
    font-weight: bold;
    color: var(--color-secondary-emphasize);
  }
  a {
    font-family: var(--font-vend-sans);
  }
  time {
    color: var(--color-secondary-default);
  }

  code {
    color: var(--color-secondary-default);
    background-color: hsla(220, 13%, 91%, 0.7);
    padding: 0.1rem 0.3rem 0.2rem;
    border-radius: 0.2rem;
    font-family: var(--font-maple-mono);
  }

  pre {
    font-family: var(--font-maple-mono);
  }

  mark {
    background-color: transparent;
    color: var(--color-primary);
  }

  @media (prefers-color-scheme: dark) {
    html.dark code,
    html.dark code span {
      background-color: hsla(217, 19%, 27%, 0.5);
    }
  }
}

@layer components {
  .masonry {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: masonry;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.body-lock {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

.rounded-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 9999px; /* For a full pill shape */
  /* Or use a specific value like: border-radius: 8px; */
}

/* Optional: Style the scrollbar track as well */
.rounded-scrollbar::-webkit-scrollbar-track {
  border-radius: 9999px; /* Match the thumb's border-radius if desired */
}

.active-nav-link {
  color: var(--color-secondary-emphasize);
}

.active-nav-link::before {
  opacity: 100;
}

.active-theme-btn {
  background-color: var(--color-neutral);
  border: 1px solid var(--color-tertiary-emphasize);
}

.toc-link {
  color: var(--color-secondary-default);
}

.toc-link.active {
  color: var(--color-primary);
}

.spacing-y-densest {
  row-gap: var(--spacing-05);
}

.spacing-y-denser {
  row-gap: var(--spacing-2);
}

.spacing-y-dense {
  row-gap: var(--spacing-4);
}

.spacing-y-article {
  row-gap: var(--spacing-5);
}

.spacing-y-loose {
  row-gap: var(--spacing-8);
}

.spacing-y-loosest {
  row-gap: var(--spacing-16);
}
