@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "./tailwind.config.js";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Vend Sans";
  src:
    url("/fonts/VendSans-BoldItalic.woff2") format("woff2"),
    url("/fonts/VendSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src:
    url("/fonts/VendSans-Bold.woff2") format("woff2"),
    url("/fonts/VendSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src:
    url("/fonts/VendSans-Italic.woff2") format("woff2"),
    url("/fonts/VendSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src:
    url("/fonts/VendSans-Medium.woff2") format("woff2"),
    url("/fonts/VendSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src:
    url("/fonts/VendSans-Light.woff2") format("woff2"),
    url("/fonts/VendSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src:
    url("/fonts/VendSans-LightItalic.woff2") format("woff2"),
    url("/fonts/VendSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src:
    url("/fonts/VendSans-SemiBold.woff2") format("woff2"),
    url("/fonts/VendSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src:
    url("/fonts/VendSans-Regular.woff2") format("woff2"),
    url("/fonts/VendSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src:
    url("/fonts/VendSans-MediumItalic.woff2") format("woff2"),
    url("/fonts/VendSans-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Vend Sans";
  src:
    url("/fonts/VendSans-SemiBoldItalic.woff2") format("woff2"),
    url("/fonts/VendSans-SemiBoldItalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter-Italic.woff2") format("woff2"),
    url("/fonts/Inter-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src:
    url("/fonts/Inter-Regular.woff2") format("woff2"),
    url("/fonts/Inter-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-vend-sans: "Vend Sans", "sans-serif";
  --font-inter: "Inter", "sanss-serif";
  --font-scale: 1.125;
  --spacing-scale: 4px;
}

@theme {
  --color-primary: var(--color-blue-700);
  --color-neutral: var(--color-gray-50);
  --color-secondary-default: var(--color-gray-600);
  --color-secondary-emphasize: var(--color-gray-950);
  --color-tertiary-default: var(--color-gray-200);
  --color-tertiary-emphasize: var(--color-gray-400);
  --color-modal-default: var(--color-gray-50);
  --color-modal-emphasize: var(--color-gray-200);
  --color-danger: var(--color-red-600);

  --text-base: 1rem;
  /* --text-base--line-height: calc(1 / 0.75); */
  --text-xs: calc(
    var(--text-base) * calc(1 / calc(var(--font-scale) * var(--font-scale)))
  ); /* 12.642px */
  --text-sm: calc(
    var(--text-base) * calc(1 / var(--font-scale))
  ); /* 14.222px */
  --text-lg: calc(var(--text-base) * var(--font-scale)); /* 18px */
  --text-xl: calc(var(--text-lg) * var(--font-scale)); /* 20.25px */
  --text-2xl: calc(var(--text-xl) * var(--font-scale)); /* 22.7812px */
  --text-3xl: calc(var(--text-2xl) * var(--font-scale)); /* 25.6289x */
  --text-4xl: calc(var(--text-3xl) * var(--font-scale)); /* 28.8325px */
  --text-5xl: calc(var(--text-4xl) * var(--font-scale)); /* 32.4366px */

  --leading-dense: 1.2;
  --leading-relaxed: 1.6;

  --spacing-05: calc(var(--spacing-scale) * 0.5);
  --spacing-2: calc(var(--spacing-scale) * 2);
  --spacing-4: calc(var(--spacing-scale) * 4);
  --spacing-5: calc(var(--spacing-scale) * 5);
  --spacing-8: calc(var(--spacing-scale) * 8);
  --spacing-12: calc(var(--spacing-scale) * 12);
  --spacing-16: calc(var(--spacing-scale) * 16);
}

@layer base {
  .dark {
    --color-primary: var(--color-blue-400);
    --color-neutral: var(--color-gray-900);
    --color-secondary-default: var(--color-gray-400);
    --color-secondary-emphasize: var(--color-gray-50);
    --color-tertiary-default: var(--color-gray-700);
    --color-tertiary-emphasize: var(--color-gray-500);
    --color-modal-default: var(--color-gray-800);
    --color-modal-emphasize: var(--color-slate-700);
    --color-danger: var(--color-red-400);
  }

  @media (prefers-color-scheme: dark) {
    html.dark .astro-code,
    html.dark .astro-code span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      /* Optional, if you also want font styles */
      /* font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important; */
    }
  }

  html {
    scroll-behavior: smooth;
  }

  small {
    font-family: var(--font-inter);
  }

  p {
    font-size: var(--text-base);
    font-family: var(--font-inter);
    line-height: calc(var(--text-base) * var(--leading-relaxed));
    color: var(--color-secondary-default);
  }
  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-vend-sans);
    font-weight: bold;
    color: var(--color-secondary-emphasize);
  }
  h1 {
    font-size: var(--text-5xl);
    line-height: calc(var(--text-5xl) * var(--leading-dense));
  }
  h2 {
    font-size: var(--text-4xl);
    line-height: calc(var(--text-4xl) * var(--leading-dense));
  }
  h3 {
    font-size: var(--text-2xl);
    line-height: calc(var(--text-4xl) * var(--leading-dense));
  }
  h4 {
    font-size: var(--text-2xl);
    line-height: calc(var(--text-4xl) * var(--leading-dense));
  }
  a {
    font-family: var(--font-vend-sans);
  }
  time {
    color: var(--color-secondary-default);
  }

  code {
    color: var(--color-secondary-default);
    background-color: hsla(220, 13%, 91%, 0.7);
    padding: 0.1rem 0.3rem 0.2rem;
    border-radius: 0.2rem;
  }

  mark {
    background-color: transparent;
    color: var(--color-primary);
  }

  @media (prefers-color-scheme: dark) {
    html.dark code,
    html.dark code span {
      background-color: hsla(217, 19%, 27%, 0.5);
    }
  }
}

@layer components {
  .masonry {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-template-rows: masonry;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

.body-lock {
  position: fixed;
  overflow: hidden;
  width: 100%;
}

.rounded-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 9999px; /* For a full pill shape */
  /* Or use a specific value like: border-radius: 8px; */
}

/* Optional: Style the scrollbar track as well */
.rounded-scrollbar::-webkit-scrollbar-track {
  border-radius: 9999px; /* Match the thumb's border-radius if desired */
}

.active-nav-link {
  color: var(--color-secondary-emphasize);
}

.active-nav-link::before {
  opacity: 100;
}

.active-theme-btn {
  background-color: var(--color-neutral);
  border: 1px solid var(--color-tertiary-emphasize);
}

.toc-link {
  color: var(--color-secondary-default);
}

.toc-link.active {
  color: var(--color-primary);
}

.spacing-y-densest {
  row-gap: var(--spacing-05);
}

.spacing-y-denser {
  row-gap: var(--spacing-2);
}

.spacing-y-dense {
  row-gap: var(--spacing-4);
}

.spacing-y-article {
  row-gap: var(--spacing-5);
}

.spacing-y-loose {
  row-gap: var(--spacing-8);
}
.spacing-y-looser {
  row-gap: var(--spacing-12);
}

.spacing-y-loosest {
  row-gap: var(--spacing-16);
}

/* Utterances comments */
.utterances {
  grid-column: 1 / 9;
}
