---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;

const metadata = {
  pageTitle: frontmatter.title,
  description: "Find out what this blog about.",
};
---

<BaseLayout metadata={metadata}>
  <h1>{frontmatter.title}</h1>
  <slot />
</BaseLayout>
