---
import BaseLayout from "./BaseLayout.astro";

interface Props {
  frontmatter: {
    title: string;
  };
}

const { frontmatter } = Astro.props;

const metadata = {
  pageTitle: frontmatter.title,
  description: "Find out what this blog about.",
};
---

<BaseLayout metadata={metadata}>
  <main>
    <h1>{frontmatter.title}</h1>
    <article class="prose marker:text-tertiary-emphasize">
      <slot />
    </article>
  </main>
</BaseLayout>
