---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import { SEO } from "astro-seo";
import "../styles/global.css";

export interface Props {
  metadata: Metadata;
}

const { metadata } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    <script>
      const savedTheme = localStorage.getItem("color-theme");

      switch (savedTheme) {
        case "dark":
          document.documentElement.classList.add("dark");
          break;
        case "light":
          document.documentElement.classList.remove("dark");
          break;
        default:
          document.documentElement.classList.toggle(
            "dark",
            window.matchMedia("(prefers-color-scheme: dark)").matches,
          );
      }
    </script>
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js" is:inline></script>
    <SEO
      title={metadata.pageTitle}
      titleTemplate=`${Astro.url.pathname === "/" ? "" : "%s - "}Faisal M.`
      titleDefault="Faisal M."
      description={metadata.description}
      openGraph={{
        basic: {
          title: metadata.pageTitle,
          type: `${metadata.ogType ? metadata.ogType : "website"}`,
          image: `${metadata.ogImg ? metadata.ogImg : "https://res.cloudinary.com/dyiyzhtwq/image/upload/v1760454733/opengraph-image_cuoyyx.png"}`,
        },
        article: {
          publishedTime: metadata.ogArticlePubTime,
          authors: metadata.ogArticleAuthors,
          section: metadata.ogArticleSection,
          tags: metadata.ogArticleTags,
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "https://x.com/hrrblealtruist",
        creator: "@hrrblealtruist",
        title: metadata.pageTitle,
        image: `${metadata.ogImg ? metadata.ogImg : "https://res.cloudinary.com/dyiyzhtwq/image/upload/v1760454733/opengraph-image_cuoyyx.png"}`,
        imageAlt: `${metadata.twitterImgAlt ? metadata.twitterImgAlt : "Faisal M."}`,
        description: metadata.description,
      }}
    />
  </head>
  <body class="spacing-y-loosest bg-neutral flex flex-col">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
