---
import type { MarkdownHeading } from "astro";
import BaseLayout from "./BaseLayout.astro";
import TableOfContents from "@components/TableOfContents.astro";

interface Props {
  frontmatter: {
    title: string;
    summary: string;
    pubDate: Date;
    category: string;
    minutesRead?: string;
  };
  headings: Array<MarkdownHeading>;
}

const { frontmatter, headings } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <h1>{frontmatter.title}</h1>
  <time datetime={new Date(frontmatter.pubDate).toLocaleDateString()}
    >{
      new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
        day: "2-digit",
        month: "long",
        year: "numeric",
      })
    }</time
  >
  <p>{frontmatter.minutesRead}</p>

  <!-- Table of contents -->
  <TableOfContents headings={headings} />
  <slot />
</BaseLayout>
