---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

const allGeneralPosts = (await getCollection("general")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout pageTitle="General">
  <h1>General</h1>
  <ul>
    {
      allGeneralPosts.map((post) => (
        <li>
          <a href={`/blog/${post.id}`}>{post.data.title}</a>
          <p>{post.data.summary}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>
