---
import { getCollection } from "astro:content";
import BaseLayout from "@layouts/BaseLayout.astro";

const allProgrammingPosts = (await getCollection("programming")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout pageTitle="Programming">
  <h1>Programming</h1>
  <ul>
    {
      allProgrammingPosts.map((post) => (
        <li>
          <a href={`/programming/${post.id}`}>{post.data.title}</a>
          <p>{post.data.summary}</p>
        </li>
      ))
    }
  </ul>
</BaseLayout>
