---
import BaseLayout from "@layouts/BaseLayout.astro";
import TrackListWrapper from "@features/chart/components/TrackListWrapper.astro";
import TrackList from "@features/chart/components/TrackList.astro";
import LastUpdated from "@features/chart/components/LastUpdated.astro";

const metadata = {
  pageTitle: "Chart",
  description: "My current Spotify heavy rotation. Updated daily.",
};
---

<BaseLayout metadata={metadata}>
  <main
    class="spacing-y-article mx-auto flex w-[65ch] max-w-full flex-col px-4 lg:px-0"
  >
    <h1>Chart</h1>
    <p>My current Spotify heavy rotation. Updated daily.</p>
    <TrackListWrapper>
      <TrackList />
    </TrackListWrapper>
    <LastUpdated />
  </main>
</BaseLayout>
