@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@theme {
  --font-jakarta-sans: var(--font-jakarta-sans);
  --font-uncut-sans: var(--font-uncut-sans);
  --font-inter: var(--font-inter);

  --font-inter--font-feature-settings:
    "zero", "cv01", "cv03", "cv04", "cv05", "cv09", "cv10";

  --color-primary: oklch(0.21 0.034 264.665);
  --color-secondary-200: oklch(0.929 0.013 255.508);
  --color-secondary-400: oklch(0.704 0.04 256.788);
  --color-accent: oklch(0.855 0.138 181.071);

  --text-xs: 0.812rem;
  --text-xs--line-height: 1.68;
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.68;
  --text-base: 1rem;
  --text-base--line-height: 1.68;
  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5;
  --text-xl: 1.25rem;
  --text-xl--line-height: 1.4;
  --text-2xl: 1.438rem;
  --text-2xl--line-height: 1.4;
  --text-3xl: 1.625rem;
  --text-3xl--line-height: 1.4;
  --text-4xl: 1.812rem;
  --text-4xl--line-height: 1.38;
  --text-5xl: 2rem;
  --text-5xl--line-height: 1.2;
  --text-6xl: 2.25rem;
  --text-6xl--line-height: 1.2;
  --text-7xl: 2.875rem;
  --text-7xl--line-height: 1.2;
  --text-8xl: 3.25rem;
  --text-8xl--line-height: 1.2;
  --text-9xl: 3.625rem;
  --text-9xl--line-height: 1.2;
  --text-10xl: 4.125rem;
  --text-10xl--line-height: 1.2;
  --text-11xl: 4.625rem;
  --text-11xl--line-height: 1.15;
}

@layer base {
  h1 {
    font-size: var(--text-5xl);
    line-height: var(--text-5xl--line-height);

    @media (width >= 48rem) {
      font-size: var(--text-6xl);
      line-height: var(--text-6xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-7xl);
      line-height: var(--text-7xl--line-height);
    }
  }
  h2 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);

    @media (width >= 48rem) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-6xl);
      line-height: var(--text-6xl--line-height);
    }
  }
  h3 {
    font-size: var(--text-3xl);
    line-height: var(--text-3xl--line-height);

    @media (width >= 48rem) {
      font-size: var(--text-4xl);
      line-height: var(--text-4xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }
  }
  h4 {
    font-size: var(--text-2xl);
    line-height: var(--text-2xl--line-height);

    @media (width >= 48rem) {
      font-size: var(--text-3xl);
      line-height: var(--text-3xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-4xl);
      line-height: var(--text-4xl--line-height);
    }
  }
  h5 {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);

    @media (width >= 48rem) {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-3xl);
      line-height: var(--text-3xl--line-height);
    }
  }
  h6 {
    font-size: var(--text-lg);
    line-height: var(--text-lg--line-height);

    @media (width >= 48rem) {
      font-size: var(--text-xl);
      line-height: var(--text-xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }
  }
  p {
    font-size: var(--text-base);
    line-height: var(--text-base--line-height);
  }
  pre.shiki {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 20px 0;
    background: transparent;
    overflow-x: auto;
  }
  pre {
    border-radius: 4px;
    & code {
      display: block;
      padding: 0 24px;
      width: fit-content;
      min-width: 100%;
      /* line-height: var(--vp-code-line-height);
    font-size: var(--vp-code-font-size);
    color: var(--vp-code-block-color); */
      transition: color 0.5s;
      & .diff {
        margin: 0 -24px;
        padding: 0 24px;
        width: calc(100% + 48px);
        display: inline-block;
        &::before {
          position: absolute;
          left: 10px;
        }
        &.remove {
          background-color: hsla(0, 100%, 50%, 0.2);
          &:before {
            content: "-";
          }
        }
        &.add {
          background-color: hsla(120, 100%, 50%, 0.2);
          &:before {
            content: "+";
          }
        }
      }
    }
  }
}

@layer components {
  .article-h2 {
    font-size: var(--text-4xl);
    line-height: var(--text-4xl--line-height);
    margin-top: 1.5em;
    margin-bottom: 0.6em;

    @media (width >= 48rem) {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-6xl);
      line-height: var(--text-6xl--line-height);
    }
  }
  .article-h2 + * {
    margin-top: 0;
  }
  .article-h3 {
    font-size: var(--text-xl);
    line-height: var(--text-xl--line-height);
    margin-top: 1em;
    margin-bottom: 0.6em;

    @media (width >= 48rem) {
      font-size: var(--text-2xl);
      line-height: var(--text-2xl--line-height);
    }

    @media (width >= 64rem) {
      font-size: var(--text-3xl);
      line-height: var(--text-3xl--line-height);
    }
  }
  .article-h3 + * {
    margin-top: 0;
  }
}
