---
import { Icon } from "astro-icon/components";
---

<footer class="mx-auto w-[112ch] max-w-full px-4 lg:px-0">
  <div
    class="spacing-y-loose border-t-tertiary-default flex flex-col items-center border-t py-8"
  >
    <div>
      <div class="bg-tertiary-default w-fit rounded-full p-1">
        <button
          id="system-theme-btn"
          class="cursor-pointer rounded-full border border-transparent p-1.5"
        >
          <Icon
            name="ri:computer-line"
            class="text-secondary-emphasize text-2xl"
          />
        </button>
        <button
          id="light-theme-btn"
          class="cursor-pointer rounded-full border border-transparent p-1.5"
        >
          <Icon name="ri:sun-line" class="text-secondary-emphasize text-2xl" />
        </button>
        <button
          id="dark-theme-btn"
          class="cursor-pointer rounded-full border border-transparent p-1.5"
        >
          <Icon
            name="ri:moon-clear-line"
            class="text-secondary-emphasize text-2xl"
          />
        </button>
      </div>
    </div>
    <p class="text-center">
      Coded with <Icon
        name="ri:heart-3-fill"
        class="inline text-2xl transition-all duration-300 ease-in-out hover:text-red-400"
      /> in <a
        href="https://code.visualstudio.com/"
        target="_blank"
        class="text-secondary-emphasize hover:text-primary font-medium transition-colors duration-300 ease-in-out"
        >Visual Studio Code</a
      >. Built with <a
        href="https://astro.build/"
        target="_blank"
        class="text-secondary-emphasize hover:text-primary font-medium transition-colors duration-300 ease-in-out"
        >Astro</a
      >, <a
        href="https://tailwindcss.com/"
        class="text-secondary-emphasize hover:text-primary font-medium transition-colors duration-300 ease-in-out"
        >Tailwind CSS</a
      >, and deployed with <a
        href="https://pages.cloudflare.com/"
        class="text-secondary-emphasize hover:text-primary font-medium transition-colors duration-300 ease-in-out"
        >Cloudflare Pages.</a
      >
    </p>
    <p class="text-center">&copy; Faisal M. 2025.</p>
  </div>
</footer>
<script>
  const systemThemeBtn = document.getElementById("system-theme-btn");
  const lightThemeBtn = document.getElementById("light-theme-btn");
  const darkThemeBtn = document.getElementById("dark-theme-btn");

  const getActualTheme = () => {
    const pref = localStorage.getItem("color-theme") || "system";

    if (pref === "dark") return "dark";
    if (pref === "light") return "light";

    // System mode, follow OS theme
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };

  const updateGiscusTheme = () => {
    const iframe = document.querySelector(
      "iframe.giscus-frame",
    ) as HTMLIFrameElement;
    if (!iframe) return;

    const actual = getActualTheme();
    const theme = actual === "dark" ? "dark_protanopia" : "light_protanopia";

    iframe.contentWindow?.postMessage(
      {
        giscus: {
          setConfig: {
            theme,
          },
        },
      },
      "https://giscus.app",
    );
  };

  window.addEventListener("message", (event) => {
    if (event.origin !== "https://giscus.app") return;

    if (event.data?.giscus?.discussion) {
      updateGiscusTheme();
    }
  });

  const applyTheme = (pref: string) => {
    switch (pref) {
      case "dark":
        document.documentElement.classList.add("dark");
        darkThemeBtn?.classList.add("active-theme-btn");
        systemThemeBtn?.classList.remove("active-theme-btn");
        lightThemeBtn?.classList.remove("active-theme-btn");
        break;
      case "light":
        document.documentElement.classList.remove("dark");
        lightThemeBtn?.classList.add("active-theme-btn");
        systemThemeBtn?.classList.remove("active-theme-btn");
        darkThemeBtn?.classList.remove("active-theme-btn");
        break;
      default:
        const isDark = window.matchMedia(
          "(prefers-color-scheme: dark)",
        ).matches;
        document.documentElement.classList.toggle("dark", isDark);
        systemThemeBtn?.classList.add("active-theme-btn");
        lightThemeBtn?.classList.remove("active-theme-btn");
        darkThemeBtn?.classList.remove("active-theme-btn");
    }
    updateGiscusTheme();
  };

  // initial load
  applyTheme(localStorage.getItem("color-theme") || "system");

  systemThemeBtn?.addEventListener("click", () => {
    localStorage.setItem("color-theme", "system");
    applyTheme("system");
  });
  lightThemeBtn?.addEventListener("click", () => {
    localStorage.setItem("color-theme", "light");
    applyTheme("light");
  });
  darkThemeBtn?.addEventListener("click", () => {
    localStorage.setItem("color-theme", "dark");
    applyTheme("dark");
  });

  window
    .matchMedia("(prefers-color-scheme: dark)")
    .addEventListener("change", () => {
      if (localStorage.getItem("color-theme") === "system") {
        applyTheme("system");
      }
    });
</script>
