---
import type { MarkdownHeading } from "astro";
import { Icon } from "astro-icon/components";

interface Props {
  headings: Array<MarkdownHeading>;
}

const { headings } = Astro.props;
---

<aside class="hidden md:col-span-4 lg:block">
  <nav class="spacing-y-denser hidden lg:sticky lg:top-32 lg:flex lg:flex-col">
    <div class="items-center justify-between lg:flex">
      <h2 class="text-base uppercase">Table of Contents</h2>
      <Icon
        id="back-to-top-btn"
        name="ri:arrow-up-line"
        class="text-secondary-emphasize translate-y-4 cursor-pointer text-2xl opacity-0 transition-all duration-300 ease-in-out"
      />
    </div>
    <div class="no-scrollbar h-[60vh] overflow-y-auto">
      <ul class="spacing-y-denser lg:flex lg:flex-col">
        {
          headings.map((heading) => (
            <li
              class={`${heading.depth === 3 ? "pl-6" : ""} ${heading.depth === 4 ? "pl-12" : ""}`}
            >
              <a
                id={`#${heading.slug}`}
                class="toc-link text-sm leading-[1.6]"
                href={`#${heading.slug}`}
              >
                {heading.text}
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </nav>
</aside>

<script>
  const backToTopBtn = document.getElementById("back-to-top-btn");

  const observer = new IntersectionObserver(
    (sections) => {
      sections.forEach((section) => {
        const heading = section.target.querySelector("h2, h3, h4, h5");
        if (!heading) return;
        const id = heading.getAttribute("id");

        const link = document.querySelector(`.toc-link[href="#${id}"]`);
        if (!link) return;

        if (section.isIntersecting) {
          link.classList.add("active");
        } else {
          link.classList.remove("active");
        }
      });
    },
    {
      rootMargin: "-18% 0px -80% 0px",
      threshold: 0,
    },
  );

  document.querySelectorAll("article section").forEach((section) => {
    observer.observe(section);
  });

  window.onscroll = () => {
    if (window.scrollY > 300) {
      backToTopBtn?.classList.add("opacity-100", "translate-y-0");
      backToTopBtn?.classList.remove("opacity-0", "translate-y-4");
    } else {
      backToTopBtn?.classList.add("opacity-0", "translate-y-4");
      backToTopBtn?.classList.remove("opacity-100", "translate-y-0");
    }
  };

  backToTopBtn?.addEventListener("click", () => {
    window.scrollTo({
      top: 0,
      behavior: "smooth",
    });
  });
</script>
