---
import { getMoviesData } from "@features/movies/lib/movies";
import BaseLayout from "@layouts/BaseLayout.astro";
import { MoviePageContent } from "@features/movies/components/MoviePageContent";
import NoPostMessage from "@components/common/NoPostMessage.astro";

const { movies } = await getMoviesData();

const metadata = {
  pageTitle: "Movies",
  description: "My take on the movies I've watched recently.",
};
---

<BaseLayout metadata={metadata}>
  <main
    class="spacing-y-article mx-auto flex w-[112ch] max-w-full flex-col px-4 lg:px-0"
  >
    <h1>Movies</h1>
    {
      movies.length > 0 ? (
        <MoviePageContent movies={movies} client:load />
      ) : (
        <NoPostMessage />
      )
    }
  </main>
</BaseLayout>
