---
import LatestPostCard from "./LatestPostCard.astro";

interface Props {
  allPosts: {
    id: string;
    title: string;
    pubDate?: Date;
    category?: string;
  }[];
}

const { allPosts } = Astro.props;
---

<section class="spacing-y-article flex flex-col">
  <h2>Latest Posts</h2>
  <ul class="spacing-y-article flex flex-col">
    {allPosts.map((post) => <LatestPostCard post={post} />)}
  </ul>
</section>
