---
import type { MarkdownHeading } from "astro";

interface Props {
  headings: Array<MarkdownHeading>;
}

const { headings } = Astro.props;
---

<ul class="hidden">
  {
    headings.map((heading) => (
      <li>
        <a id={`#${heading.slug}`} class="toc-link" href={`#${heading.slug}`}>
          {heading.text}
        </a>
      </li>
    ))
  }
</ul>

<script>
  const headings = document.querySelectorAll("h2, h3, h4");

  const observer = new IntersectionObserver(
    (entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          document
            .querySelectorAll(".toc-link.active")
            .forEach((link) => link.classList.remove("active"));
          document
            .querySelector(`.toc-link[href="#${entry.target.id}"]`)
            ?.classList.add("active");
        }
      });
    },
    {
      rootMargin: "-18% 0px -80% 0px",
      threshold: 0,
    },
  );

  headings.forEach((heading) => observer.observe(heading));
</script>

<style>
  .toc-link.active {
    color: red;
  }
</style>
