---
import Footer from "@components/Footer.astro";
import { SEO } from "astro-seo";
import { SearchProvider } from "@components/common/SearchProvider";
import "../styles/global.css";

export interface Props {
  metadata: Metadata;
}

const { metadata } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    {
      import.meta.env.PROD && (
        <Fragment>
          <script
            is:inline
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-LRR12DZSER"></script>
          <script is:inline>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
              dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-LRR12DZSER");
          </script>
        </Fragment>
      )
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="canonical" href="https://mfaisal.xyz" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      const getInitialTheme = () => {
        const saved = localStorage.getItem("color-theme");

        if (saved === "dark") return "dark";
        if (saved === "light") return "light";

        return window.matchMedia("(prefers-color-scheme: dark)").matches
          ? "dark"
          : "light";
      };

      const initialTheme = getInitialTheme();

      if (initialTheme === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <SEO
      title={metadata.pageTitle}
      titleTemplate=`${Astro.url.pathname === "/" ? "" : "%s - "}Faisal M.`
      titleDefault="Faisal M."
      description={metadata.description}
      openGraph={{
        basic: {
          title: metadata.pageTitle,
          type: `${metadata.ogType ? metadata.ogType : "website"}`,
          image: `${metadata.ogImg ? metadata.ogImg : "https://res.cloudinary.com/dyiyzhtwq/image/upload/v1760454733/opengraph-image_cuoyyx.png"}`,
        },
        article: {
          publishedTime: metadata.ogArticlePubTime,
          authors: metadata.ogArticleAuthors,
          section: metadata.ogArticleSection,
          tags: metadata.ogArticleTags,
        },
      }}
      twitter={{
        card: "summary_large_image",
        site: "https://x.com/hrrblealtruist",
        creator: "@hrrblealtruist",
        title: metadata.pageTitle,
        image: `${metadata.ogImg ? metadata.ogImg : "https://res.cloudinary.com/dyiyzhtwq/image/upload/v1760454733/opengraph-image_cuoyyx.png"}`,
        imageAlt: `${metadata.twitterImgAlt ? metadata.twitterImgAlt : "Faisal M."}`,
        description: metadata.description,
      }}
    />
  </head>
  <body class="spacing-y-loosest bg-neutral flex flex-col">
    <!-- header element is inside -->
    <SearchProvider currentRoute={Astro.url.pathname} client:load />
    <slot />
    <Footer />
  </body>
</html>

<script type="module">
  import * as pagefind from "/pagefind/pagefind.js";
  window.pagefind = pagefind;
</script>
