---
import type { MarkdownHeading } from "astro";
import BaseLayout from "./BaseLayout.astro";
import TableOfContents from "@components/TableOfContents.astro";
import CommentForm from "@components/CommentForm.astro";

interface Props {
  frontmatter: {
    title: string;
    summary: string;
    pubDate: Date;
    category: string;
    minutesRead?: string;
  };
  headings: Array<MarkdownHeading>;
}

const route = Astro.url.pathname.replace(/^\/+|\/+$/g, "");
const postCategory = route.split("/")[0];

const { frontmatter, headings } = Astro.props;

const metadata: Metadata = {
  pageTitle: frontmatter.title,
  description: frontmatter.summary,
  ogType: "article",
  ogArticlePubTime: new Date(frontmatter.pubDate).toLocaleDateString(),
  ogArticleAuthors: ["Faisal M."],
  ogArticleSection: frontmatter.category,
  ogArticleTags: [frontmatter.category],
};
---

<BaseLayout metadata={metadata}>
  <main
    class="spacing-y-article mx-auto flex w-[112ch] max-w-full flex-col px-4 lg:grid lg:grid-cols-12 lg:px-0"
    data-pagefind-body
  >
    <div
      class="spacing-y-article mx-auto flex w-[65ch] max-w-full flex-col lg:col-span-8 lg:mx-0"
    >
      <div class="flex">
        <time
          datetime={new Date(frontmatter.pubDate).toLocaleDateString()}
          class="mr-2"
          >{
            new Date(frontmatter.pubDate).toLocaleDateString("en-US", {
              day: "2-digit",
              month: "short",
              year: "numeric",
            })
          }</time
        >
        <span class="text-secondary-default">•</span>
        <p class="ml-2">{frontmatter.minutesRead}</p>
      </div>
      <h1>{frontmatter.title}</h1>

      <article
        class="prose prose-headings:text-secondary-emphasize prose-a:text-secondary-emphasize prose-a:no-underline prose-a:hover:text-primary prose-a:transition-all prose-a:duration-300 prose-a:ease-in-out prose-ol:text-secondary-default prose-headings:scroll-mt-[82px] max-w-none"
      >
        <slot />
      </article>
    </div>

    <!-- Table of contents -->
    <TableOfContents headings={headings} />
  </main>

  <!-- Comment form -->
  {
    postCategory === "blog" && (
      <div class="mx-auto w-[112ch] max-w-full px-4 lg:grid lg:grid-cols-12 lg:px-0">
        <div class="mx-auto w-[65ch] max-w-full lg:col-span-8 lg:mx-0">
          <CommentForm />
        </div>
      </div>
    )
  }
</BaseLayout>
